body {
background-image: url(dining.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}

#headinfo {
background-color: #ffcc00;
border-bottom: 4px solid brown;
height: 45px;
width: 100%;
}

#head1 {
display: inline-block;
padding-left: 2%;

}

#head2 {
display: inline-block;
float: right;
margin-right: 2%;
position: relative;

}


@media screen and (max-width: 500px) {
  #navcontainer { margin-left: -20px; }
}


.headlinkitems {
display: inline-block;
font-size: 32px;
font-style: italic;
list-style: none;
margin-top: 10%;
padding-left: 15px;
position: relative;
}

.Links {
color: black;
text-decoration: none; 
background-color: none;
}

ul {
float: left;
margin-left: 7%;
margin-top: 3%;
display: inline-block;
}



li {


border-left: 1px solid white;
display: inline-block;

}

li a {
text-decoration: none;


}


#imagetitlecontainer{
height: 160px;
width: 350px;
display: inline-block;
margin-left: 35%;
pointer-events: none;
position: relative;
}


@media screen and (max-width: 1500px) {
  #imagetitlecontainer { margin-left: 32%; }
}
@media screen and (max-width: 1400px) {
  #imagetitlecontainer { margin-left: 30%; }
}
@media screen and (max-width: 1350px) {
  #imagetitlecontainer { margin-left: 28%; }
}
@media screen and (max-width: 1300px) {
  #imagetitlecontainer { margin-left: 25%; }
}
@media screen and (max-width: 1200px) {
  #imagetitlecontainer { margin-left: 20%; }
}
@media screen and (max-width: 1100px) {
  #imagetitlecontainer { margin-left: 16%;}
}
@media screen and (max-width: 1020px) {
  #imagetitlecontainer { visibility: hidden; }
}

#RestTitle{
color: #140505;
display: inline-block;
font-family: gabriola;
font-size: 48px;
margin-top: 60px;
opacity: 0;
animation-name: titlefade;
animation-delay: 1000ms;
animation-duration: 5000ms;
animation-fill-mode: forwards;

}

@keyframes titlefade{

	0% {opacity: 0;}
	
	100% { opacity: 1;}
}




#HomeImage {
float: right;
margin-right: 8%;
margin-top: 10%;
opacity: 0;
height: auto;
width: 100px;
animation-delay: 300ms;
animation-duration: 3s;
animation-name: burgerani;
animation-fill-mode: forwards;
}

@keyframes burgerani{

	0% {opacity: 0%;}
	
	100% { opacity: 100%;}
}



#menu {
background-image:url("people-inside.jpg");
background-repeat: no-repeat;
background-size: 100% 500px;
border: 8px solid brown;
border-radius: 25px;
box-shadow: 0 16px 16px rgb(0,0,0);
height: 500px; 
width: 80%;
margin-left: 10%;
margin-top: 5%;
position: relative;
}

@media screen and (max-width: 1020px) {
  #menu { margin-top: -100px; }
}


#infofoot {
height: 250px;
width: 100%;
background-color: black;
margin-top: 20%;
}

#infotitle {
color: white;
display: block;
margin-left: 10%;
position: absolute;

}

#footlist {
display: block;
margin-left: 10%;
margin-top: 60px;
position: relative;
list-style-type: none;
}

.footlinkitems {
border: none;
height: 20px;
width: 100px;
}

#Employ {
pointer-events: none;
}

.Links2 {
color: white;
font-size: 16px;
position: absolute;
margin-left: 10%;
}

#SocialLinks {
height: 150px;
width: 400px;
display; inline-block;
margin-left: 60%;
position: absolute;
}


@media screen and (max-width: 1000px) {
  #SocialLinks { margin-left: 50%; }
}
@media screen and (max-width: 800px) {
  #SocialLinks { margin-left: 40%; }
}
@media screen and (max-width: 600px) {
  #SocialLinks { margin-left: 45%; }
}

#SocialTitle {
color: white;
margin-left: 25%;
}

@media screen and (max-width: 600px) {
  #SocialTitle { margin-left: 20%; }
}

#googleimg {
margin-top: 5%;

}

#itunesimg {
margin-left: 25%;
}

@media screen and (max-width: 600px) {
  #itunesimg { margin-left: 10%; }
}

@media screen and (max-width: 600px) {
  .socials{ margin-left: 5%; width: 100px;}
}
