<style>

body {

}

#headlinks {
display: inline-block;
margin-left: 35%;
}

@media screen and (max-width: 1200px) {
  #headlinks { margin-left: 28%; }
}
@media screen and (max-width: 1100px) {
  #headlinks { margin-left: 26%; }
}
@media screen and (max-width: 1000px) {
  #headlinks { margin-left: 20%; }
}

@media screen and (max-width: 850px) {
  #headlinks { margin-left: 18%; }
}


@media screen and (max-width: 800px) {
  #headlinks { margin-left: 15%; }
}


@media screen and (max-width: 700px) {
  #headlinks { margin-left: 12%; }
}

@media screen and (max-width: 600px) {
  #headlinks { margin-left: 3%; }
}

#menuheadcontainer {
height: 100px;
width: 100%;
border-top: 4px solid brown;
}

#MenuContent {
height: 1200px;
width: 100%;
margin-top: 50px;
}

#HomeImage {
display: inline-block;
height: auto;
width: 100px;
margin-left: 30%;
margin-top: 2%;
opacity: 0;
position: absolute;
animation-duration: 5s;
animation-delay: 500ms;
animation-name: burgerfadein;
animation-fill-mode: forwards;
}

@keyframes burgerfadein{

	0% {opacity: 0%;}
	
	100% { opacity: 100%;}
}

@media screen and (max-width: 1200px) {
  #HomeImage { margin-left: 22%; }
}
@media screen and (max-width: 1100px) {
  #HomeImage { margin-left: 20%; }
}
@media screen and (max-width: 1000px) {
  #HomeImage { margin-left: 15%; }
}
@media screen and (max-width: 900px) {
  #HomeImage { margin-left: 12%; }
}
@media screen and (max-width: 800px) {
  #HomeImage { margin-left: 8%; }
}
@media screen and (max-width: 700px) {
  #HomeImage { visibility: hidden; }
}
.headlinkitems {
display: inline-block;
font-size: 32px;
font-style: italic;
list-style: none;
margin-top: 10%;
padding-left: 15px;
position: relative;
}

li a{
text-decoration: none;
}

.Links {
color: black;
}


#MenuTitle {
color: brown;
text-align: center;
text-decoration: underline;
margin-top: 7%;
}

.imgresize{
height: 250px;
width: 100%;
}

.imgresize:hover {
filter: blur(2px);

}

.SandwichItems {
height: 375px;
width: 20%;
border: 8px solid brown;
display: inline-block;
float: left;
margin-left: 5%;
margin-top: 100px;
}
@media screen and (max-width: 900px) {
  .SandwichItems { height: 450px; }
}

.itemtitle{
color: brown;
font-style: italic;
text-align: center;
}

.itemdesc {
font-style: italic;
margin-left: 4%;
}

#NutritionImage {
height: auto;
width: 100px;
display: inline-block;
margin-left: 10%;
margin-top: 5%;
position: absolute;
}

#NutritionWarning {

height: 300px;
width: 100%;
position: absolute;
}

#NutritionText {
color: brown;
display: inline-block;
font-size: 16px;
font-style:
height: 225px;
width: 75%;
margin-left: 20%;
margin-top: 85px;
position: absolute;
}
@media screen and (max-width: 1000px) {
  #NutritionText { width: 50%; margin-left: 25% }
}

@media screen and (max-width: 700px) {
  #NutritionText { width: 50%; margin-left: 35%; margin-top: 40px; }
}

#infofoot {
height: 250px;
width: 100%;
background-color: black;
margin-top: 300px;
}

#infotitle {
color: white;
display: block;
margin-left: 10%;
position: absolute;

}

#footlist {
display: block;
margin-left: 10%;
margin-top: 60px;
position: absolute;

}

.footlinkitems {
border: none;
height: 20px;
width: 100px;
}

#Employ {
pointer-events: none;
}

.Links2 {
color: white;
font-size: 16px;
position: absolute;
margin-left: 1%;
margin-top: 5%;
}

#SocialLinks {
height: 150px;
width: 400px;
display; inline-block;
margin-left: 60%;
position: absolute;

}


@media screen and (max-width: 1000px) {
  #SocialLinks { margin-left: 50%; }
}
@media screen and (max-width: 800px) {
  #SocialLinks { margin-left: 40%; }
}
@media screen and (max-width: 600px) {
  #SocialLinks { margin-left: 45%; }
}

#SocialTitle {
color: white;
margin-left: 25%;
}

@media screen and (max-width: 600px) {
  #SocialTitle { margin-left: 20%; }
}

#googleimg {
margin-top: 5%;

}

#itunesimg {
margin-left: 25%;
}

@media screen and (max-width: 600px) {
  #itunesimg { margin-left: 10%; }
}

@media screen and (max-width: 600px) {
  .socials{ margin-left: 5%; width: 100px;}
}

</style>